<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Forma de Pagamento
    <small>Editar</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/admin/formadepagamento">Forma de Pagamento</a></li>
    <li class="active"><a href="/admin/formadepagamento/editar">Editar</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
<!--         <div class="box-header with-border">
          <h3 class="box-title">Editar Tipo de Contato</h3>
        </div> -->
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/formadepagamento/{$formadepagamento.idcategory}" method="post">
          <div class="box-body">
            <div class="form-group">
              <div class="col-sm-10">
                <label for="descategory">Forma de Pagamento</label>
                <input type="text" class="form-control" id="descategory" name="descategory" placeholder="Digite o nome do tipo de pagamento" value="{$formadepagamento.descategory}">
              </div>
              <div class="col-sm-2">
                <label for="">Status</label>
                  <select class="form-control" name="" value="{$formadepagamento.descategory}">
                   <option value="">Selecione...</option>
                   <option value="1">Ativo</option>
                   <option value="2">Inativo</option>
                  </select>
              </div>
           </div>
        </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->